@charset "utf-8";

textarea {
  display: block;
  outline: 0;
}

#control-panel-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

#notification-box {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#notification {
  padding-right: 5px;
  visibility: hidden;
}
